@* Horizontal Navigation Menu Component *@
<nav class="navbar navbar-expand-lg navbar-dark bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <i class="bi bi-cpu"></i>
            <span class="brand-text">Natural Language Query</span>
        </a>
        
        <div class="navbar-nav ms-auto">
            <NavLink class="nav-link nav-item-custom" href="" Match="NavLinkMatch.All">
                <span class="nav-icon">
                    <i class="bi bi-chat-dots-fill"></i>
                </span>
                <span class="nav-text">Conversations</span>
            </NavLink>
            
            <NavLink class="nav-link nav-item-custom" href="datasources">
                <span class="nav-icon">
                    <i class="bi bi-database-fill"></i>
                </span>
                <span class="nav-text">Data Sources</span>
            </NavLink>
            
            <NavLink class="nav-link nav-item-custom" href="llm-providers">
                <span class="nav-icon">
                    <i class="bi bi-robot"></i>
                </span>
                <span class="nav-text">LLM Providers</span>
            </NavLink>
            
            <NavLink class="nav-link nav-item-custom" href="about">
                <span class="nav-icon">
                    <i class="bi bi-info-circle-fill"></i>
                </span>
                <span class="nav-text">About</span>
            </NavLink>
        </div>
    </div>
</nav>